@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-white text-slate-900;
}

[data-theme='dark'] body {
  @apply bg-slate-950 text-slate-100;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
